<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tamagotchi Pets</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>  <!-- Why does this css mapping work???? -->
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <h2>Tamagotchi Pets</h2>

          <form action='/new-pet' method='post'>
            <div class='form-group'>
              <label for='name'>Enter New Pet Name</label>
              <input type='text' name='name' id='name' class='form-control' placeholder='e.g. Gadi Bu Dow Mumu' maxlength='7'>
            </div>
            <button type='submit' class='btn btn-sm btn-primary'>Create New Pet</button>
          </form>

          <br>
          <form action='/' method='post'>
            <button type='submit' class='btn btn-sm'>Delete All Pets</button>
          </form>

        </div>  <!-- .col-md-3 -->
      </div>  <!-- .row -->

      <div class='row'>
        <div class='col-md-7'>
          <hr>
          {% if tamagotchis is empty %}
              <h4>You have no pets hommie, time to make some</h4>
          {% else %}
              <form action='/age' method='post'>
                <button type='submit' name='age' class='btn btn-sm btn-success'>Age All Pets 1 Day</button>
              </form>
              <h4>Here your pets brah, handle with care</h4>
          {% endif %}

          <!-- Pet Div -->
          {% for tamagotchi in tamagotchis %}
              {% if tamagotchi.getName is not empty %}
                  <div class="pet">
                    <div class='row'>
                      {% if tamagotchi.checkLife %}
                          <div class="col-md-8">
                            <h3>{{ tamagotchi.getName }}</h3>
                            <h5>Age: {{ tamagotchi.getAge }}</h5>
                            <h5>Food: {{ tamagotchi.getFeed }} &nbsp; &nbsp; | &nbsp; &nbsp; Happiness: {{ tamagotchi.getHappiness }} &nbsp; &nbsp; | &nbsp; &nbsp; Sleep: {{ tamagotchi.getSleep }} </h5>

                            <div class="row">
                              <div class="col-md-4">
                                <form action='/feed' method='post'>
                                  <button type='submit' name='name' class='btn btn-sm btn-primary' value='{{ tamagotchi.getName }}'>Feed {{ tamagotchi.getName }}</button>
                                </form>
                              </div>
                              <div class="col-md-4">
                                <form action='/play' method='post'>
                                  <button type='submit' name='name' class='btn btn-sm btn-primary' value='{{ tamagotchi.getName }}'>Play w/{{ tamagotchi.getName }}</button>
                                </form>
                              </div>
                              <div class="col-md-4">
                                <form action='/sleep' method='post'>
                                  <button type='submit' name='name' class='btn btn-sm btn-primary' value='{{ tamagotchi.getName }}'>Nap {{ tamagotchi.getName }}</button>
                                </form>
                              </div>
                            </div>  <!-- .row -->

                          </div>
                          <div class="col-md-4">
                            {% if tamagotchi.getAge >= 14 or tamagotchi.getFeed <= 2 or tamagotchi.getHappiness <= 2 or tamagotchi.getSleep <= 2%}
                                <img src='http://orig00.deviantart.net/774e/f/2008/304/9/6/pokebaw___charmander_by_pokemon_walrus.png'>
                            {% else %}
                                <img src='http://pre02.deviantart.net/79f7/th/pre/i/2012/154/2/4/proud_charmander_by_kol98-d525yi2.png'>
                            {% endif %}
                          </div>
                      {% else %}
                          <div class="col-md-8">
                            <h3>OMG! You killed {{ tamagotchi.getName }}</h3>
                          </div>
                          <div class="col-md-4">
                            <img src='http://orig14.deviantart.net/00e5/f/2012/350/5/7/sleeping_charmander_by_pekoponian-d5o9txk.png'>
                          </div>
                      {% endif %}
                    </div>  <!-- .row -->
                  </div>
              {% endif %}
          {% endfor %}


        </div>  <!-- .col-md-6 -->
      </div>  <!-- .row -->
    </div>  <!-- .container -->

  </body>
</html>
