<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tamagotchi Pets</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>  <!-- Why does this css mapping work???? -->
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>
          <h2>Tamagotchi Pets</h2>

          <form action='/new-pet' method='post'>
            <div class='form-group'>
              <label for='name'>Enter New Pet Name</label>
              <input type='text' name='name' id='name' class='form-control' placeholder='e.g. Gadi Bu Dow Mumu'>
            </div>
            <button type='submit' class='btn btn-sm btn-primary'>Create New Pet</button>
          </form>

          <br>
          <form action='/' method='post'>
            <button type='submit' class='btn btn-sm'>Delete All Pets</button>
          </form>

        </div>  <!-- .col-md-3 -->
      </div>  <!-- .row -->

      <div class='row'>
        <div class='col-md-6'>
          <hr>
          {% if tamagotchis is empty %}
              <h4>You have no pets hommie, time to make some</h4>
          {% else %}
              <form action='/age' method='post'>
                <button type='submit' name='age' class='btn btn-sm btn-success'>Age All Pets 1 Day</button>
              </form>
              <h4>Here your pets brah, handle with care</h4>
          {% endif %}

          {% for tamagotchi in tamagotchis %}
              {% if tamagotchi.getName is not empty %}
                  <div class="pet">
                    <div class='row'>
                        <div class="col-md-7">
                          <h3>{{ tamagotchi.getName }}</h3>
                          <h5>Age: {{ tamagotchi.getAge }} | Food: {{ tamagotchi.getFeed }} | Happiness: {{ tamagotchi.getHappiness }} | Sleep: # </h5>
                        </div>
                        <div class="col-md-5">
                          <!-- image goes here -->
                        </div>
                    </div>  <!-- .row -->

                    <div class="row">
                      <div class="col-md-3">
                        <form action='/feed' method='post'>
                          <button type='submit' name='name' class='btn btn-sm btn-primary' value='{{ tamagotchi.getName }}'>Feed {{ tamagotchi.getName }}</button>
                        </form>
                      </div>
                      <div class="col-md-3">
                        <form action='/play' method='post'>
                          <button type='submit' name='name' class='btn btn-sm btn-primary' value='{{ tamagotchi.getName }}'>Play with {{ tamagotchi.getName }}</button>
                        </form>
                      </div>
                      <div class="col-md-3">
                        <form action='/nap' method='post'>
                          <button type='submit' name='name' class='btn btn-sm btn-primary' value='{{ tamagotchi.getName }}'>Nap {{ tamagotchi.getName }}</button>
                        </form>
                      </div>
                    </div>  <!-- .row -->
                  </div>
              {% endif %}
          {% endfor %}


        </div>  <!-- .col-md-6 -->
      </div>  <!-- .row -->
    </div>  <!-- .container -->

  </body>
</html>
